.doctor-details-footer{
    background-color: white;
}
.doctor-name{
    color: #0B114A;
}

.view-profile-btn{
    background-color: #000A6D;
}
.view-profile-btn:hover{
    background-color: #000A6D;
}